
html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}
input{
  color:black;
}


.hidden{
  display :none !important;
}
.intro {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
    -webkit-background-attachment: fixed;
    -moz-background-attachment: fixed;
    -o-background-attachment: fixed;
}

.navbar-custom{
  background-color: black;
  opacity:0.5;
  z-index: 1;
}
.navbar-brand, .navbar-right, .navbar-toggle{
  font-size:1.5em;
  margin-bottom:15px;
  margin-top:15px;
}

.nav_login{
  margin-top:8px;
}

#post{
  font-size:1.5em;
  padding:15px 25px 15px 25px;
}

.form-control{
  opacity:0.7;
}
.region{
  text-align:center;
  margin-top:20px;
}

.searchBar{
  margin:15px 0px 20px 0px;
  width:60%;
  height:40px;
  opacity:0.8;
  border:0.8px solid black;
  border-radius:5px;
}
.home{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.home h1{
  margin: 0;
  padding: 0;
  font-size: 4.5em;
  font-weight: 700;
}
.service {
    margin-bottom: 20px;
}

.social {
    display: table;
    width: 100%;
    color: #fff;
    background: url(../img/portfolio-4.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
    -webkit-background-attachment: fixed;
    -moz-background-attachment: fixed;
    -o-background-attachment: fixed;
    overflow:hidden;
}
.social-area {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.social-area h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}
.list_unstyled li{
  width:30px !important;
  font-size:2em;
  padding:18px;
  -webkit-transition: all .3s ease-in-out;
  -o-transitio: all .3 ease-in-out;
  transition: all .3s ease-in-out;
  margin:38px;
color:white;
}
.list_unstyled li:hover{
  cursor:pointer;
  color:#4ca2e0;
}
.list_unstyled{
  position:relative;
  margin-top:5px;
   list-style-type: none;
}
.social_buttons li{
    margin:0px !important;
}
.social_buttons{
  position:relative;
  margin-top:-230px;
  margin-left:-200px;
  left:-53%;
}
.border-black{
  /*color: #2095F2;*/
  color:#4ca2e0;
}

.btn-blue {
  color:white;
  background-color:black;
 opacity:0.7;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: black;
    opacity:0.4;
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}

/* Custom Horizontal Rule */

hr.medium {
    max-width: 600px;
}
.title{
 font-size:3em;
  font-family: 'Lobster', cursive;
}
.btn-lobster{
  font-size:1.3em;
    font-family: 'Lobster', cursive;
}

#menu-toggle {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
}


.toggle {
    margin: 5px 5px 0 0;
}

.province_top{
  margin:auto;
  width:30%;
}
.select_province{
  width:100%;
}

.footer{
  width:100%;
  height:auto;
  background-color: black;
  opacity:0.8;
  margin:0 auto;
}
#left{
  display:block;
  list-style-type:none;
  font-size:30px;
  padding-top:30px;
  padding-bottom:30px;
  width:100%;
}
#left a{
  text-decoration: none;
  color:white;
}
#left li{
  margin-right:50px;
  display:inline-block;
}
#left li:hover{
  cursor:pointer;
  color:#4ca2e0;
}
.mid{
  text-align:center;
}
.mid a:hover{
cursor:pointer;
}


/* loading bar animation */

.load-wrapp {
  position:relative;
    width: 100px;
    height: 50px;
     margin-left:46%;
     margin-right:50%;
     margin-top:100px;
}

.load-wrapp p {padding: 0 0 20px;}
.load-wrapp:last-child {margin-right: 0;}

.line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #4b9cdb;
}
.load .line:nth-last-child(1) {animation: loading .6s .1s linear infinite;}
.load .line:nth-last-child(2) {animation: loading .6s .2s linear infinite;}
.load .line:nth-last-child(3) {animation: loading .6s .3s linear infinite;}


@keyframes loading {
    0 {transform: translate(0,0);}
    50% {transform: translate(0,15px);}
    100% {transform: translate(0,0);}
}

/*night mode*/
.toggle{
  width: 51px;
	height: 31px;
  box-sizing: border-box;
	display: block;
	background: #6a666b;
  border-radius:5px;
  margin-left:20px;
}
#switch{
  position:relative;
  width: 20px;
	height: 31px;
  box-sizing: border-box;
	display: block;
  border-radius:8px;
	background: #fff;
  box-shadow: 0 0 1px 0 rgba(0,0,0, 0.25),
				0 3px 3px 0 rgba(0,0,0, 0.15);
}
.toggle i:hover{
  cursor:pointer;
}

.turned_on{

}

@media(max-width:380){

}
