.navbar-custom{
  background-color:black;
  opacity:0.8;
}

body {
  background: #f4f4f4;
  color: #5a5656;
  font: 100%/1.5em 'Open Sans', sans-serif;
  margin: 0;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 1em;
}
h1,
p {
  font-size:14px;
  margin-bottom: 10px;
}
.uppercase {
  text-transform: uppercase;
}

#login {
  text-align:center;
  margin:150px auto ;
  width: 100%;
}

.input {
  background: #e5e5e5;
  border: none;
  border-radius: 3px;
  color: #5a5656;
  font-family: inherit;
  font-size: 14px;
  height: 50px;
  outline: none;
  padding: 0px 10px;
  width: 40%;
  -webkit-appearance: none;
  min-width:160px;
  max-width:400px;
}
.btn{
  width:20%;
  min-width:120px;
}
.btn-round {
  background: #5a5656;
  border-radius: 50%;
  color: #f4f4f4;
  padding:20px;
  font-size: 12px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  width: 50px;
}
.list_unstyled{
 margin-left:-40px;
  list-style-type:none;
}
.list_unstyled li{
  margin-top:20px;
}
footer{
  margin-top:-90px;
  position:relative;
  width:100%;
  text-align:center;
}
footer h3{
  font-family:lobster;
}

/*night mode*/
.toggle{
  width: 51px;
	height: 31px;
  box-sizing: border-box;
	display: block;
	background: #6a666b;
  border-radius:5px;
  margin:10px auto 0px auto;
}
#switch{
  position:relative;
  width: 20px;
	height: 31px;
  box-sizing: border-box;
	display: block;
  border-radius:8px;
	background: #fff;
  box-shadow: 0 0 1px 0 rgba(0,0,0, 0.25),
				0 3px 3px 0 rgba(0,0,0, 0.15);
}
.toggle i:hover{
  cursor:pointer;
}

.turned_on{

}
