.navbar-custom{
  background-color:black;
  opacity:0.8;
}

body {
  background: #f4f4f4;
  color: #5a5656;
  font: 100%/1.5em 'Open Sans', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 1em;
}

h1,
p {
  font-size:12px;
  margin-bottom: 10px;
}

strong {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}



/* ---------- LOGIN ---------- */

#register {
  text-align:center;
  margin:150px auto ;
  width: 100%;
}
#claim{
  margin-top:20px;
}
form fieldset input[type="text"],
input[type="password"] {
  background: #e5e5e5;
  border: none;
  border-radius: 3px;
  color: #5a5656;
  font-family: inherit;
  font-size: 14px;
  height: 50px;
  outline: none;
  padding: 0px 10px;
  width: 25%;
  -webkit-appearance: none;
}
.btn{
  width:20%;
}

footer{
  margin-top:80px;
  position:relative;
  width:100%;
  text-align:center;
}
footer h3{
  font-family:lobster;
}
