/*night mode*/
.toggle{
  width: 51px;
	height: 31px;
  box-sizing: border-box;
	display: block;
	background: #6a666b;
  border-radius:5px;
  margin-left:20px;
}
#switch{
  position:relative;
  width: 20px;
	height: 31px;
  box-sizing: border-box;
	display: block;
  border-radius:8px;
	background: #fff;
  box-shadow: 0 0 1px 0 rgba(0,0,0, 0.25),
				0 3px 3px 0 rgba(0,0,0, 0.15);
}
.toggle i:hover{
  cursor:pointer;
}

.turned_on{

}

body {
  background: #f4f4f4;
  color: #5a5656;
  font: 100%/1.5em 'Open Sans', sans-serif;
  margin: 0;
}

#form_area {
  text-align:center;
  margin:150px auto ;
  width: 100%;
}

input{
  background: #e5e5e5;
  border: none;
  border-radius: 3px;
  color: #5a5656;
  font-family: inherit;
  font-size: 14px;
  height: 50px;
  outline: none;
  padding: 0px 10px;
  width: 50%;
  margin-bottom:50px;
  -webkit-appearance: none;
}
.header{
  margin-bottom:20px;
}
.error{
  font-size:12px;
  color:#e01f46;
}
.navbar-custom{
  background-color: black;
  opacity:0.7;
  z-index: 1;
    font-size:1.2em;
}

.navbar-brand, .navbar-right, .navbar-toggle{
  font-size:1.5em;
  margin-bottom:15px;
  margin-top:15px;
}

/* loading bar animation */

.load-wrapp {
  position:relative;
    width: 100px;
    height: 50px;
     margin-left:46%;
     margin-right:50%;
     margin-top:30px;
}

.load-wrapp p {padding: 0 0 20px;}
.load-wrapp:last-child {margin-right: 0;}

.line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #4b9cdb;
}
.load .line:nth-last-child(1) {animation: loading .6s .1s linear infinite;}
.load .line:nth-last-child(2) {animation: loading .6s .2s linear infinite;}
.load .line:nth-last-child(3) {animation: loading .6s .3s linear infinite;}


@keyframes loading {
    0 {transform: translate(0,0);}
    50% {transform: translate(0,15px);}
    100% {transform: translate(0,0);}
}
